*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 250px;
    height: 100vh;
    background: #123B8D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

/* Logo */

.logo-section{
    padding: 28px 20px;
}

.logo-section h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}

.logo-section p{
    font-size: 14px;
    color: rgba(255,255,255,0.75);
}

/* Menu */

.menu-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.menu-item img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.menu-item span{
    font-size: 15px;
    font-weight: 500;
}

/* Hover */

.menu-item:hover{
    background: rgba(255,255,255,.15);
}

/* Active */

.menu-item.active{
    background: rgba(255,255,255,.18);
    border-left: 4px solid #fff;
}

/* Bottom Profile */

.sidebar-footer{
    padding: 15px;
}

.sidebar-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,.12);
    padding: 10px 12px;
    border-radius: 10px;
}

.sidebar-profile-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-profile-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-profile-left h4{
    font-size: 14px;
    font-weight: 600;
}

.sidebar-profile-left p{
    font-size: 12px;
    color: rgba(255,255,255,.75);
}

.sidebar-profile .down{
    width: 14px;
    height: 14px;
}

/* Scrollbar */

.sidebar::-webkit-scrollbar{
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,.25);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track{
    background: transparent;
}