*{
    margin: 0;
    padding: 0;
}

.dashboard-main{
    display: flex;
    width: 100%;
    
}

.dashboard-right{
    flex: 1;
    margin-left: 250px;   
    display: flex;
    flex-direction: column;

}
.dashboard-right{
    flex:1;
    margin-left:250px;
    transition:0.3s ease;
}
 
.dashboard-right.open{
    margin-left:250px;
}
 
.dashboard-right.close{
    margin-left:0;
}

.welcome{
    
    padding: 20px;
}

.welcome h1{
    font-size: 27px;
    color: #000000;
    font-weight: 700;
}

.welcome p{
    margin-top: 10px;
    color: #000000;
    font-size: 15px;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding:20px;
  
}

.card-box{
    display: flex;
    justify-content: center;
    gap:20px;
    background: rgba(245, 245, 245, 0.521);
    border: 1px solid rgba(128, 128, 128, 0.105);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 4px 4px 12px rgba(69, 65, 65, 0.12);
}

.card-box img{
          height:30px;
          width:40px;
          margin-top: 10px;
}

.card-box h6{
    color:#1E40AF;
    font-size: 14px;
    
}
.card-box h5{
    margin-top: 3px;
    margin-bottom: 3px;
}

.card-box p{
        font-size: 12px;
}

.card-box span{
        color:#139320;
        
}
