*{
    margin: 0%;
    padding: 0%;
}
 

.resetmain-container{
    display: flex;
    height: 100vh;

}

.resetleft-container{
    width: 50%;
    height: 100vh;
    padding: 120px 20px;
    background: linear-gradient(to bottom , #383D46,#2263EF);
    color: white;
}


.resetleft-container h1{
        font-size: 45px;
        font-weight: 200;
       margin-bottom: 15px;
}

.resetleft-container p{
       font-size: 13px;
       font-weight: 200;
       color: #E2DFFF;
       letter-spacing: 1.5px;
       line-height: 18px;

}


.resetleft-container img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}



.resetright-container{


}
