* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
}

.intern h2 {
  color: #0058BE;
  font-size: 28px;
  font-weight: 900;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 35px;
}

.Nav-login-btn{
  background: transparent;
  border: none;
  color: #45464D;
  font-size: 16px;
  margin-top: 17px;
  font-weight: 600;
  cursor: pointer;
  display:inline-block;
  text-decoration:none;
  text-align:center;
}

.register-btn {
  background: black;
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
