*{
    margin: 0%;
    padding: 0%;
}

.main{
    display: flex;

}

.left-container{
    width: 50%;

    background: linear-gradient(to bottom,#3D79EA,#1B1A2D );
    color: white;
}

.left-container p{
    margin-left: 30px;
    font-size: 12px;
}


.left-heading{
    padding: 150px 40px;
}

.left-heading h1{
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.left-heading p{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1;
    color: #E2DFFF;
      line-height:1.5;
}

.right-conatainer{
    width: 350px;
    margin-left: 130px;
  
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forgot-box{
    width: 480px;
}

.top-links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-bottom: 40px;
}

.top-links a{
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 500;
}

.forgot-icon{
    width: 40px;
    height: 20px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.forgot-icon img{
    width: 48px;
    height: 48px;
}

.forgot-title{
    font-size: 24px;
    font-weight: 400;
    color: #1f2937;
  
}

.forgot-subtitle{
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-bottom: 20px;
}

.method-title{
    font-size: 12px;
    font-weight: 300;
    color: #333;
    margin-bottom: 18px;
}

.verify-option{
    width: 100%;
    height: 64px;
    border: 1px solid #d9d9e8;
    border-radius: 12px;
    padding: 18px 65px;
    align-items: center;
    gap: 16px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: .3s;
}

.verify-option:hover{
    border-color: #4338ca;
}

.verify-option.active{
    border: 2px solid #4338ca;
}

.verify-option input[type="radio"]{
    width: 18px;
    height: 18px;
    accent-color: #4F46E5;
    cursor: pointer;
}

.option-content h4{
    font-size: 14px;
    color: #222;
    font-weight: 600;
    margin-bottom: 5px;
}

.option-content p{
    font-size: 14px;
    color: #777;
}

.verify-btn{
    width: 100%;
    height: 48px;
    background: #4338ca;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-top: 18px;
    transition: .3s;
}

.verify-btn:hover{
    background: #372cb7;
}

.verify-btn img{
    width: 14px;
    height: 14px;
}

.back-login{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 50px;
}

.back-login img{
    width: 14px;
    height: 14px;
}

.back-login a{
    text-decoration: none;
    color: #4338ca;
    font-size: 15px;
    font-weight: 600;
}

