*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.resetpassword-success-main{
    display: flex;
    height: 100vh;
   
}


.resetpassword-success-left{
    width: 50%;
    height: 100vh;
    background: linear-gradient(to bottom,#2E5AC7,#071426);
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-left-content{
    height: 100vh;
    width: 420px;
    text-align: center;
    
}

.success-left-icon{
    width: 80px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.success-left-content h1{
    color: white;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 18px;
}

.success-left-content p{
    color: #D6DFFF;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
}

.success-left-image{
    width: 330px;
    border-radius: 12px;
}


.resetpassword-success-right{
    width: 50%;
    height: 100vh;
    padding: 100px;
    align-items: center;
    display: flex;
}
.resetpassword-success-right h1{
    font-size: 34px;
    font-weight: 300;
}

.resetpassword-success-right p{
    font-size: 13px;
    font-weight: 200;
    line-height: 17px;
}
.success-box{
    width:360px;
}

.success-badge{
    width:130px;
    margin-bottom:28px;
}

.success-title{
    font-size:48px;
    font-weight:700;
    color:#1A1A2E;
    margin-bottom:18px;
}

.success-text{
    font-size:15px;
    color:#6B7280;
    line-height:28px;
    margin-bottom:20px;
}

.login-btn{
    width:100%;
    height:45px;
    border:none;
    border-radius:8px;
    background:#4338CA;
    color:#fff;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    
}

.login-btn:hover{
    background:#372FC3;
}

